<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABKaBzmh1orPb8TBIrw9YMOZ-Wv3Ilvxc</string>
	<key>GCM_SENDER_ID</key>
	<string>1035167177770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.custompainterDrawingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mdraw-c35e9</string>
	<key>STORAGE_BUCKET</key>
	<string>mdraw-c35e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035167177770:ios:1a0b2d0aab995920f23753</string>
</dict>
</plist>